
<div id="section01Section" class="body-content-wrapper hero-wrapper">
    <div class="full-width hero-list">
        <ul class="hero-list--tiles">
            <li class="clearfix hero-list--tile" data-tile="0" data-bg="img/hero-list/01.jpg">
                <div class="content">
                    <a href="http://www.sapientrazorfish.com" class="arrow-hover">
                        {{!-- <h2 class="eyebrow-style">subhead text style</h2> --}}
                        <h1 class="h1-style">_Reimagine. <br>And rapidly realize.</h1>
                        <p>SapientRazorfish is helping our clients thrive in a new world with radical customer centricity, a modern digital enterprise, and the kind of agility that makes a critical difference.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
            <li class="clearfix hero-list--tile" data-tile="1" data-bg="img/hero-list/02.jpg">
                <div class="content">
                    <a href="http://www.sapientrazorfish.com" class="arrow-hover">
                        {{!-- <h2 class="eyebrow-style">subhead text style</h2> --}}
                        <h1 class="h1-style">True Luxury in Customer Experience</h1>
                        <p>SapientRazorfish is helping our clients thrive in a new world with radical customer centricity, a modern digital enterprise, and the kind of agility that makes a critical difference.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
            <li class="clearfix hero-list--tile" data-tile="2" data-bg="img/hero-list/03.jpg">
                <div class="content">
                    <a href="http://www.sapientrazorfish.com" class="arrow-hover">
                        {{!-- <h2 class="eyebrow-style">subhead text style</h2> --}}
                        <h1 class="h1-style">_Reimagine <br>Your Impact</h1>
                        <p>SapientRazorfish is helping our clients thrive in a new world with radical customer centricity, a modern digital enterprise, and the kind of agility that makes a critical difference.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
        </ul>
        
        <nav class="hero-list--nav">
            <ul class="hero-list--nav--items">
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero0">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                _Reimagine. <br>And rapidly realize.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero1">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                True Luxury in Customer Experience
                            </span>
                        </span>
                    </a>
                </li>
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero2">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                _Reimagine <br>Your Impact
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>