
<div id="section01Section" class="body-content-wrapper hero-wrapper">
    <div class="full-width hero-list">
        <ul class="hero-list--tiles">
            <li class="clearfix hero-list--tile" data-tile="0" data-bg="img/greypixel.jpg">
                <div class="content">
                    <a href="#" class="arrow-hover">
                        <h1 class="h1-style">Header goes here</h1>
                        <p>Gentrify affogato edison bulb snackwave, wolf green juice photo booth beard la croix. XOXO you probably haven't heard of them ennui, pickled echo park fashion axe 3 wolf moon enamel pin.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
            <li class="clearfix hero-list--tile" data-tile="1" data-bg="img/greypixel.jpg">
                <div class="content">
                    <a href="#" class="arrow-hover">
                        <h1 class="h1-style">Header goes here</h1>
                        <p>Gentrify affogato edison bulb snackwave, wolf green juice photo booth beard la croix. XOXO you probably haven't heard of them ennui, pickled echo park fashion axe 3 wolf moon enamel pin.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
            <li class="clearfix hero-list--tile" data-tile="2" data-bg="img/greypixel.jpg">
                <div class="content">
                    <a href="#" class="arrow-hover">
                        <h1 class="h1-style">Header goes here</h1>
                        <p>Gentrify affogato edison bulb snackwave, wolf green juice photo booth beard la croix. XOXO you probably haven't heard of them ennui, pickled echo park fashion axe 3 wolf moon enamel pin.</p>
                        <div class="arrow icon-arrow-right"></div>
                    </a>
                </div>
            </li>
        </ul>
        
        <nav class="hero-list--nav">
            <ul class="hero-list--nav--items">
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero0">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                Header goes here
                            </span>
                        </span>
                    </a>
                </li>
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero1">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                Header goes here
                            </span>
                        </span>
                    </a>
                </li>
                <li class="hero-list--nav--item">
                    <a class="hero-list--nav--link" href="#hero2">
                        <span class="hero-list--nav--link--mask">
                            <span class="hero-list--nav--link--text">
                                Header goes here
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>