
<div id="innovationSection" class="body-content-wrapper parallax-hero module-padding">
    <div class="inner">
        <h2 class="eyebrow-style blue">Here's A</h2>
        <h3 class="sectionhead-style">Parallax Hero</h3>
    </div>
    
    <div class="full-width parallax-wrapper" data-margin-speed="1.5">
        <div class="inner parallax-photos not-loaded">
            <div class="layer-holder parallax-layer" data-layer-speed="2"><img class="not-loaded" data-mobile-src="img/layers/Header03_BGBuildings-only-Mobile.png" data-desk-src="img/layers/Header03_BGBuildings-only.png" src="img/mt.png" alt="image of buildings" /></div>
            <div class="layer-holder parallax-layer colored-buildings" data-layer-speed="2"><img class="not-loaded" data-mobile-src="img/layers/Header02_Buildings-Mobile.png" data-desk-src="img/layers/Header02_Buildings.png" src="img/mt.png" alt="image of buildings" /></div>
            <div class="layer-holder parallax-layer" data-layer-speed="3.5"><img class="not-loaded phone" data-mobile-src="img/layers/Header01_Phone-Mobile.png" data-desk-src="img/layers/Header01_Phone.png" src="img/mt.png" alt="image of hand holding phone" /></div>
        </div>
        <div class="background not-loaded parallax-layer" data-layer-speed="1.25"></div>
    </div>
</div>