<footer class="footer">
    <div class="inner">
        <div class="footer-body">
            <a href="http://www.sapientrazorfish.com"><img class="sr-logo" src="img/Logo_SR.svg" alt="SapientRazorfish"></a>
            <ul class="site-social-links">
                <li class="share-icon-container">
                    <a href="https://www.linkedin.com/company/sapientrazorfish" class="icon-linkedin share-icon" target="_blank">
                    <span>LinkedIn</span></a>
                </li>
                <li class="share-icon-container">
                    <a href="https://twitter.com/sr_" class="icon-twitter share-icon" target="_blank"><span>Twitter</span></a>
                </li>
                <li class="share-icon-container">
                    <a href="https://www.facebook.com/SapientRazorfish/" class="icon-facebook share-icon" target="_blank"><span>Facebook</span></a>
                </li>
            </ul>
        </div>
        <div class="copyright">
           <p><span>© 2017 SapientRazorfish All Rights Reserved</span> <a class="animate-underline muted" href="http://www.sapientrazorfish.com/terms.html" target="_blank">Terms</a> <a class="animate-underline muted" href="http://www.sapientrazorfish.com/privacy.html" target="_blank">Privacy</a></p>
        </div>
    </div>
</footer>