header, #header{
    &.body-content-wrapper{
        padding:$globalmargin;
        position: fixed;
        background: #fff;
        z-index: 200;
    }
}
.header-logo{
    img{
        max-width:rem($mainnav-fontsize*13);
        width:100%;
    }
    max-width: 20%;
    min-width: $header-logo-max;
    display:inline-block;
}