<ul class="gallery">
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
	<li>{{>content/galleryimg/galleryimg}}</li>
</ul>