header{
	@extend .row;
	background:$dark;
	color:$light;
	h1{
		display: inline-block;
		font-size: 1.6em;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin:$globalmargin;
		line-height:1.2em;
		font-weight: 600;
	}
	border-width:2px 0 2px;
	border-style: solid;
	border-color: #000;
}
