$font-resizer-value:1.75;

$globalmarginpx: 20;
$globalmargin:rem($globalmarginpx);
$verticalmargin:rem($globalmarginpx * 2);
$horizontal-min-width-margin:6%;
$max-width:980px;
$gridcols: 12;
$col-1-amt: #{1/$gridcols * 100%};
$grid-col-margin:$verticalmargin;
$inline-image-margin:rem(40);
$module-padding:rem(60);
$bezier: cubic-bezier(.32, .01, 0, 1);

$header-logo-max:0px;
$nav-bottom-position:21px;
$max-nav-width:980px;

//font sizes in pt
$mainnav-fontsize: 7 * $font-resizer-value;
$header-fontsize: 32 * $font-resizer-value;
$sectionhead-fontsize:18 * $font-resizer-value;
$subhead-fontsize: 12 * $font-resizer-value;
$eyebrow-fontsize: 9 * $font-resizer-value;
$para-fontsize: 10 * $font-resizer-value;
$boxlink-fontsize:9 * $font-resizer-value;
$keyfindings-fontsize:29 * $font-resizer-value;

//color palette
$dark:#18181e; //dark grey
$light:#f2f2f2; //very light grey
$hilite:#021897; //salmon
$althilite:#c8e9f2; //lightblue
$grey: #a7a7a7;
$darkgrey: #666;
$socialGrey: #98b0b7;
$copy:$dark;
$white: #ffffff;
$red: #fc284b;
$primary: $hilite;
$blue: #0030ff;
$lightGrey: #d3d3d3;
$black:$dark;

//fonts
$bodyFont:'Calibri','Helvetica', 'sans-serif';
$bodyFontBold:'Calibri','Helvetica', 'sans-serif';
$headFont:'Georgia','Helvetica', 'serif';
$headFontThin:'Calibri', 'Helvetica', 'sans-serif';

//breakpoints
$medium-breakpoint: 768;
$large-breakpoint: 1024;
$x-large-breakpoint: 2000;

$mobile: "(max-width: '#{$medium-breakpoint - 1}px')";
$tablet: "(min-width: '#{$medium-breakpoint}px') and (max-width:'#{$large-breakpoint}px')";
$tablet-portrait:"screen and (min-width:'#{$medium-breakpoint}px') and (max-width:'#{$large-breakpoint}px') and (orientation: portrait)";
$tablet-and-under: "(max-width:'#{$large-breakpoint}px')";
$desktop: "(min-width: '#{$large-breakpoint + 1}px')";
$desktop-xl: "(min-width:'#{$x-large-breakpoint + 1}px')";
$mobile-tablet_potrait: "(max-width: '#{$medium-breakpoint}px')";

