<div class="body-content-wrapper" id="stickyFooter">
    <a class="boxed-link overlay-template-launch" href="javascript:void(0);" title="Download the Report">Sticky Footer Option for Call-Out CTA</a>
</div>