//*------------------------------------*\
//    $LARGE BREAKPOINT
//*------------------------------------*/

@media #{$desktop} {
    .feed {

        &-item {
            width: 50%;

            &:nth-of-type(12n + 4),
            &:nth-of-type(12n + 10) {
                clear: both;
            }

            &:nth-of-type(12n + 5),
            &:nth-of-type(12n + 11) {
                margin-right: 50%;
            }

            &:nth-of-type(12n + 6),
            &:nth-of-type(12n + 12) {
                float: right;
                margin-top: -50%;
            }

            &.filler-tile {
                display: block;
            }

            &-content-copy {
                // .eyebrow {
                //     font-size: $scale02;
                // }

                .headline {
                    font-size:rem($subhead-fontsize);
                }

                // .arrow {
                //     font-size: $scale02 * 1.15;
                //     margin-left: $scale02 * 1.15 * -1;
                // }
            }

            // @include all-small-rectangle-feed-items-selector {
            //     &.has-image {
            //         .feed-item-content-copy {
            //             .headline {
            //                 font-size: $scale04;
            //             }
            //         }
            //     }
            // }
        }

        &-list-container {
            @include module-spacing(0, 0.5, 0, 0);
        }

    }
}
