//*------------------------------------*\
//    $XXLARGE BREAKPOINT
//*------------------------------------*/

@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .feed {

        header {
            .module-content {
                .headline {
                    font-size: $scale09;
                }
            }
        }

        // Styles for curated feed
        &.curated-feed {
            .feed-item {
                &-content-copy {
                    .eyebrow {
                        font-size: $scale03;
                    }

                    .headline {
                        font-size: $scale07;
                    }

                    .arrow {
                        font-size: $scale03;
                        margin-left: $scale03 * -1;
                    }
                }

                @include all-small-rectangle-feed-items-selector {
                    &.has-image {
                        .feed-item-content-copy {
                            .eyebrow {
                                font-size: $scale03;
                            }

                            .headline {
                                font-size: $scale06;
                            }

                            .arrow {
                                font-size: $scale03;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

        &-item {
            &-content-copy {
                .eyebrow {
                    font-size: $scale03;
                }

                .headline {
                    font-size: $scale07;
                }

                .arrow {
                    font-size: $scale03;
                    margin-left: $scale03 * -1;
                }
            }

            @include all-small-rectangle-feed-items-selector {
                &.has-image {
                    .feed-item-content-copy {
                        .eyebrow {
                            font-size: $scale03;
                        }

                        .headline {
                            font-size: $scale06;
                        }

                        .arrow {
                            font-size: $scale03;
                            margin-left: 0;
                        }
                    }
                }
            }

            @include last-if-remainder-one {
                &.has-image {
                    .feed-item-content-copy {
                        .headline {
                            font-size: $scale06;
                        }
                    }
                }
            }
        }
    }

    .feed-filter {

        &-control {
            font-size: $scale04;
            max-width: none;
        }
    }
}
