<nav class="nav-component">
	<div class="mobile-menu">
		<ul class="hamburger-menu">
			<li><a href="javascript:void(0);" class="section-link" data-section="section01Section" title="Section Button 01">Section Button 01</a></li>
			<li><a href="javascript:void(0);" class="section-link" data-section="section03Section" title="Section Button 03">Section Button 02</a></li>
			<li class="hamburger-button"><a class="boxed-link" href="javascript:void(0);" aria-label="Close Mobile Menu" title="Close Mobile Menu"><i class="fa fa-times" aria-hidden="true"></i></a></li>
		</ul>
		<div class="logo">Site Header</div>
	</div>
	<ul class="desk-menu">
		<li class="hide-mobile"><a class="animate-underline selected section-link" href="javascript:void(0);" data-section="section01Section" title="Section Button 01">Section Button 01</a></li>
		<li class="hide-mobile"><a class="animate-underline section-link" href="javascript:void(0);" data-section="section03Section" title="Section Button 03">Section Button 02</a></li>
		<li><a class="boxed-link overlay-template-launch" href="javascript:void(0);" title="An Overlay Launcher">Launch <span class="hide-mobile">Overlay </span></a></li>
		<li class="hamburger-button"><a class="boxed-link" href="javascript:void(0);" aria-label="Open Mobile Menu" title="Open Mobile Menu"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
	</ul>
</nav>