<nav class="nav-component">
	<div class="mobile-menu">
		<ul class="hamburger-menu">
			<li><a href="javascript:void(0);" class="section-link" data-section="factSheet" title="Property Details">Property Details</a></li>
			<li><a href="javascript:void(0);" class="section-link" data-section="gallery" title="photo Gallery">Photo Gallery</a></li>
			<li><a href="javascript:void(0);" class="section-link" data-section="ownerNotes" title="Notes from the Owner">Notes from the Owner</a></li>
			<li><a href="javascript:void(0);" class="section-link" data-section="location" title="Location">Location</a></li>
			<li class="hamburger-button"><a class="boxed-link" href="javascript:void(0);" aria-label="Close Mobile Menu" title="Close Mobile Menu"><i class="fa fa-times" aria-hidden="true"></i></a></li>
		</ul>
		{{!-- <div class="logo"><h1>1125 Pico Blvd #203 Santa Monica, CA 90405</h1></div> --}}
	</div>
	<ul class="desk-menu">
		<li class="hide-mobile"><a class="animate-underline selected section-link" href="javascript:void(0);" data-section="factSheet" title="Property Details">Property Details</a></li>
		<li class="hide-mobile"><a class="animate-underline section-link" href="javascript:void(0);" data-section="gallery" title="Photo Gallery">Photos</a></li>
		<li class="hide-mobile"><a class="animate-underline section-link" href="javascript:void(0);" data-section="ownerNotes" title="Notes from the Owner">Notes from the Owner</a></li>
		<li class="hide-mobile"><a class="animate-underline section-link" href="javascript:void(0);" data-section="location">Map</a></li>
		<li><a class="boxed-link section-link" data-section="contactSection" href="javascript:void(0);" title="View Contact Information">Contact</a></li>
		<li class="hamburger-button"><a class="boxed-link" href="javascript:void(0);" aria-label="Open Mobile Menu" title="Open Mobile Menu"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
	</ul>
</nav>