
.animate-underline{
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to bottom, currentColor 0%, currentColor 100%);
    background-repeat: no-repeat;
    background-position: right 2em;
    padding-bottom:2em;
    background-size: 0% 1px;
    transition: background-size 0.3s;
    &:hover {
        // adding background-image style again endsures the background color
        // takes on the hover color, if different from off state
        //background-image: linear-gradient(to bottom, currentColor 25%, rgba(0,0,0,0) 25%);
        background-size: 100% 1px;
        background-position: left 2em;
    }
    &.muted {
        color: $darkgrey;
    }
}

.link--underline {
    transition: all 0.1s ease 0.1s;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-appearance: none;
    margin-right:1.25em;

    &:before {
        content: '_';
        width: 1em;
        height: 100%;
        display: block;
        color:$primary;
        overflow: hidden;
        position: absolute;
        left:100%;        
        
        animation-name: underline_out;
        animation-duration: .65s;
        animation-timing-function: $bezier;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    &:hover, &:focus {
        transition: color 0.05s $bezier 0.05s;
        color: $primary;
        
        &:before {
            animation-name: underline_in;
            animation-duration: 0.65s;
            animation-timing-function: $bezier;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }
    }
}
