//*------------------------------------*\
//    $GLOBAL ANIMATIONS
//*------------------------------------*/

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50%);
    }
    55% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-15%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scrollIconBounce {
    0% {
        transform: translate(-50%, 0);
    }
    20% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -1em);
    }
    50% {
        transform: translate(-50%, 0);
    }
    60% {
        transform: translate(-50%, -0.25em);
    }
    80% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}


@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes arrow-slidein {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes arrow-slideout {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(200%);
    }
}

@keyframes onPlayVideo {
	0% {
		left: 0;
		opacity: 1;
	}
	99% {
		left: 0;
		opacity: 0;
	}
	100% {
		left: -100%;
		opacity: 0;
	}
}


@keyframes underline_in {
	0% {
		width: 0;
		left: 96%;
	}
	100% {
		width: 1em;
		left: 100%;
	}
}
@keyframes underline_out {
	0% {
		width: 1em;
		left: 100%;
	}
	100% {
		width: 0;
		left: 96%;
	}
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100%{
        opacity:0;
    }
    
}



@keyframes fields_visible {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    40% {
        transform: translateY(100px);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fields_hide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes linkunderlinein {
    0% {
        background-size: 0% 0.25em;
        background-position: left 1.1em;
    }
    100% {
         background-size: 100% 0.25em;
         background-position: left 1.1em;
    }
}

@keyframes linkunderlineout {
    0% {
        background-size: 100% 0.25em;
        background-position: right 1.1em;
    }
    100% {
         background-size: 0% 0.25em;
         background-position: right 1.1em;
    }
}


@keyframes navReveal {
    0% {
        opacity: 0;
        // top:-100px;
		// bottom:-100px;
    }
    
    100% {
        // top:0;
		// bottom:0;
        opacity: 1;
    }
}

@keyframes navHide {
    0% {
        opacity: 1;
        top:0;
        bottom:0;
    }
    99%{
        opacity:0;
        top:0;
        bottom:0;
    }
    100%{
        top:-1000px;
    }
}
@keyframes navLogoHide {
    0% {
        opacity: 1;
        top:40px;
    }
    99%{
        opacity:0;
        top:40px;
    }
    100%{
        top:-1000px;
    }
    
}