<div class="feed body-content-wrapper">

    <div class="feed-list-container inner">

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content light-all top-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage0.jpg)"
                        style="background-image: url('img/image-grid/feedimage0.jpg');"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/case-study/rbs">
                        <h2 class="eyebrow">
                            RBS Group
                        </h2>
                        <div class="headline">
                            NatWest Transforms its Product-Centric Brand
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content light-all bottom-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage1.jpg)"
                        style="background-image: url(img/image-grid/feedimage1.jpg);"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/press-release/2017/sapientrazorfish-releases-research-for-retailers-on-transforming-omni-channel-strategies">
                        <h2 class="eyebrow">
                            Press Release
                        </h2>
                        <div class="headline">
                            SapientRazorfish Releases New Research for Retailers
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content dark-all bottom-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage2.jpg)"
                        style="background-image: url(img/image-grid/feedimage2.jpg);"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/articles/2017/commercial-banks-join-the-retail-revolution">
                        <h2 class="eyebrow">
                            Financial Services
                        </h2>
                        <div class="headline">
                            Commercial Banks Join the Retail Revolution
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content light-all top-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage3.jpg)"
                        style="background-image: url(img/image-grid/feedimage3.jpg);"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/articles/2016/banks-brands-and-consumers">
                        <h2 class="eyebrow">
                            Commerce
                        </h2>
                        <div class="headline">
                            Banks, Brands and Consumers
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content light-all bottom-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage4.jpg)"
                        style="background-image: url(img/image-grid/feedimage4.jpg);"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/articles/2017/b2b-in-the-digital-age">
                        <h2 class="eyebrow">
                            The Future of B2B Commerce
                        </h2>
                        <div class="headline">
                            B2B in the Digital Age
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feed-item dark-hover arrow-hover has-image animate-on-scroll">
            <div class="feed-item-content light-all top-align">
                <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(img/image-grid/feedimage5.jpg)"
                        style="background-image: url(img/image-grid/feedimage5.jpg);"></div>
                </div>
                <div class="feed-item-content-copy">
                    <a href="/case-study/blink">
                        <h2 class="eyebrow">
                            Ronald McDonald House
                        </h2>
                        <div class="headline">
                            Blink: A Language of Love Through Light
                            <div class="arrow icon-arrow-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>