
<div id="section01Section" class="body-content-wrapper hero-wrapper">
    <div class="full-width hero">
        <div class="inner">
            <div class="heading">
                <h2 class="eyebrow-style">static hero - subhead text style</h2>
                <h1 class="h1-style">Static Hero with supporting Image - Header Text Style</h1>
            </div>
        </div>
    </div>
</div>