.body-content-wrapper{
    &.hero-wrapper{
        padding-top:90px; 
        position:relative;
        .hero{
            background:url('../img/greyblock.jpg') no-repeat;
            background-size:cover;
            background-position:center;
            padding:$module-padding 0;
            min-height:50vh;
        }
        .heading{
            position:absolute;
            bottom:$module-padding;
            @extend .col-80;
            color:#fff;
        }
        
    }
}