
<div id="section01Section" class="body-content-wrapper hero-wrapper">
    <div class="full-width hero">
        <div class="inner">
            <div class="heading">
                {{!-- <h2 class="eyebrow-style">Now Available</h2> --}}
                {{!-- <h1 class="h1-style">Minutes from the beach and close to everything Santa Monica offers!</h1> --}}
            </div>
        </div>
    </div>
</div>