.body-content-wrapper{
    &.hero-wrapper{
        padding-top:90px; 
        position:relative;
        .hero{
            background:url('http://www.sarahlamont.com/pico/img/pico/livingroom02.jpg') no-repeat;
            background-size:cover;
            background-position-x:left;
            background-position-y: center;
            padding:$module-padding 0;
            min-height:50vh;
            @media #{$mobile} {
                min-height:50vh;
            }
        }
        .heading{
            position:absolute;
            bottom:$module-padding;
            @extend .col-50;
            color:#fff;
            @media #{$mobile} {
                width:80%;
            }
        }
        
    }
}