<footer class="footer" id="contactSection">
    <div class="inner">
        <div class="footer-body"><p>
           To make an offer or to view the unit, please contact: <br><b>Meigan Everett</b>, DRE Lic. 01763606<br>
           <a href="mailto:meverett@gcppros.com" class="animate-underline dark">meverett@gcppros.com</a><br>
           <b>phone</b> <a class="animate-underline dark" href="tel:1-424-238-2333">(424) 238-2333</a> &nbsp; 
           <b>fax</b> (310) 661-8193
        </p>

        </div>
        <div class="copyright">
           <p><span>Gold Coast Property Pros, 12340 Santa Monica Blvd. #205 Los Angeles, CA 90025</span><br><a class="animate-underline muted" href="mailto:meverett@gcppros.com" target="_blank">meverett@gcppros.com</a> </p>
        </div>
    </div>
</footer>