
<div id="section01Section" class="body-content-wrapper hero-wrapper">
    <div class="full-width hero">
        <div class="inner">
            <div class="heading">
                <h2 class="eyebrow-style">subhead text style</h2>
                <h1 class="h1-style">01 Carousel Hero</h1>
            </div>
            
        </div>
    </div>
</div>