.body-content-wrapper{
    &.hero-wrapper{
        padding-top:90px; 

        .hero-list{
            position: relative;
            &--tiles{
                margin:0;
                padding:0;
                height:60vh;
                overflow: hidden;
                position: relative;
                li{
                    -webkit-transition: all .35s ease-in-out;
                    -moz-transition: all .35s ease-in-out;
                     -ms-transition: all .35s ease-in-out;
                      -o-transition: all .35s ease-in-out;
                         transition: all .35s ease-in-out;
                    //padding:$module-padding 0;
                    padding-left:calc((100% - #{$max-width})/2);
                    height:60vh;
                    width: 100%;
                    position: absolute;
                    background-size:cover;
                    background-position:center;
                    //transform: translateY(0);
                    animation: .65s $bezier 0s forwards tile-slideIn;

                    &:not(:last-child){
                        transform: translateY(60vh);
                    }
                    .content{
                        position:absolute;
                        bottom:$inline-image-margin;
                        width:100%;
                        @extend .inner;
                        color:#fff;
                        a{
                            color:currentColor;
                            text-decoration: none;
                            @extend .grid-col-8;
                            display:block;
                            .arrow{
                                animation: 0.2s $bezier 0s forwards arrow-herotile-slideout;
                            }
                            &:hover, &:focus{
                                .arrow{
                                    animation: 0.2s $bezier 0s forwards arrow-herotile-slidein;
                                }
                            }
                        }
                        p{
                            line-height:rem($para-fontsize*1.5);
                        }
                    }
                }
            }

            &--nav {
                position: absolute;
                color: $white;
                z-index: 1;
                right: $globalmargin;
                user-select: none;
                width:auto;
                top:0;
                bottom:0;
                display: flex;
                align-items: center;
                justify-content: center;

                &.inactive {
                    opacity: 0;
        
                    .hero-list--nav--link {
                        height: 0;
                        min-height: 0;
                        margin-bottom: 1px;
                    }
                }

                &--item{
                    display: block;
                    margin:0;
                }
                &--link {
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    @extend .nav-a-style;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    text-align: right;
                    line-height: 1.1;
                    outline: none;
                    width: 100%;
                    color: $white;
                    text-decoration: none;
                    transition: border 0.5s $bezier;
                    cursor: pointer;
                    overflow: hidden;
                    border-right: 3px solid rgba($white, 0.4);
                    margin-bottom: 2px;
                    padding-right: 1rem;
                    min-height: 1rem;

                    &.active,
                    &:hover {
                        min-height: 2rem;
                        border-color: currentColor;
                    }

                    &--text {
                        width: auto;
                        height: auto;
                        margin: 0;
                        border: 0;
                        position: relative;
                        clip: auto;
                        overflow: visible;
                        text-align: right;
                    }
    
                    &--mask {
                        max-width: 12em;
                    }
    
                    &-highlighted {
                        color: $primary;
                        &:hover,
                        &.active,
                        &.active:hover {
                            border-color: $primary;
                            color: $primary;
                        }
                    }
    
                    .hero-list--nav--link--mask {
                        flex-shrink: 0;
                        flex: 1 0 auto;
                        transform: translateY(-200%);
                        transition: all 0.4s $bezier;
                    }
                    .hero-list--nav--link--text {
                        opacity: 0;
                        transition: opacity 0.4s $bezier, color 0s $bezier;
                    }
                    &:hover,
                    &.active:hover {
                        .hero-list--nav--link--mask {
                            transform: translateY(0%);
                        }
                        .hero-list--nav--link--text {
                            opacity: 1;
                            animation-fill-mode: initial;
                        }
                    }
                    &.active {
                        .hero-list--nav--link--mask {
                            transform: translateY(0%);
                            padding-top: 1.5em;
                            padding-bottom: 1.5em;
                        }
                        .hero-list--nav--link--text {
                            animation: navItemHover 3s 0s;
                            animation-fill-mode: forwards;
                        }
                    }
                    &.active ~ .hero-list--nav--item:not(:hover) {
                        .hero-list--nav--link--mask {
                            transform: translateY(200%);
                        }
                    }
                }
            }
        }

        
    }
}