.body-content-wrapper.morethinking-section {
    background-color: $dark;
    color: $white;

   .sectionhead-style {
        margin-bottom: $verticalmargin;
    }
    .top-image {
        width: 100%;
        margin-bottom: $globalmargin;
    }
    
    .link {
        color: $white;
        @extend h1.eyebrow-style;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $grey;
        }
        .icon-arrow-right {
            vertical-align: text-top;
            display: inline-block;
            transform:scale(.65);
        }
        display: inline-block;
        margin-bottom: $globalmargin;
    }

}