<nav>
	<ul>
		<li><a href="/" title="index">Index</a></li>
		<li><a href="/pages/detail" title="detail">Detail Template</a></li>
		<li><a href="/pages/gallery" title="gallery">Gallery Template</a></li>
	</ul>
</nav>