<nav>
	<ul>
		<li><a href="index.html" title="index">Index</a></li>
		<li><a href="detail.html" title="detail">Detail Template</a></li>
		<li><a href="gallery.html" title="gallery">Gallery Template</a></li>
	</ul>
</nav>