<header class="body-content-wrapper">
    <div class="inner">
        <h1 class="eyebrow-style">Now Available!</h1>
    </div>
    <div class="inner">
		<div class="header-logo">
            <h1><span>1125 Pico Blvd #203 </span><span>Santa Monica, CA </span><span>90405</span></h1>
        </div>
    {{>content/nav/nav}}
    </div>
</header>