header, #header{
    &.body-content-wrapper{
        padding:$globalmargin;
        position: fixed;
        background: #fff;
        z-index: 200;
    }
}
.header-logo{
    h1{
        font-size:rem(18);
        line-height: rem(22);
        margin-top:10px;
    }
    max-width: 60%;
    min-width: $header-logo-max;
    display:inline-block;
}