<header class="body-content-wrapper">
		<div class="header-logo">
            <a href="http://www.sapientrazorfish.com" aria-label="Go to SapientRazorfish"><img src="img/LogoLockup-FS.svg" alt="SapientRazorfish Financial Services"></a>
        </div>
    {{>content/nav/nav}}
</header>