#factSheet{
    .leftcol{
        p:first-child{
            margin-top:0;
        }
    }
    .facts{
        list-style: none;
        margin:0;
        padding:0;
        @extend p;
        line-height: 1.5em;
        li{
            margin:0;
            ul {
                margin:0;
                padding:0 0 10px 0;
                display: flex;
                display: -webkit-flex;
                list-style: none;
                li {
                    //display: inline-block;
                    &:first-child{
                        font-weight: bold;
                        width:35%;
                        padding:0 10px 0 0;
                    }
                    &:last-child{
                        width:65%;
                    }
                }
            } 
        }
    }
}