<div class="body-content-wrapper content-section-wrapper" id="factSheet">
    <div class="inner clearfix content-group">
        <h2 class="eyebrow-style">Property Details</h2>
        <div class="leftcol">
            <h3 class="sectionhead-style">Minutes from the beach and close to everything Santa Monica offers!</h3>
            <p>Large, updated top-floor, corner 2 bed / 1.5 ba unit with extended private balcony for enjoying the outdoors. The bedrooms are spacious with large organized closet space. Huge hall closet and organized entry closet as well. Kitchen has breakfast bar and new appliances. New flooring throughout. This is an amazing location for quick access to Promenade, Main Street, beach, and quick route for commuters. The unit is located in the back of the building away from Pico facing 12th Street with a nice treed view away from the traffic noise of Pico Boulevard. There is gated entry and garage with 2 parking spots included, and a large storage unit as well.
            </p>
            <p>
                <strong>Open House:</strong> 3/3 1-4pm
            </p>
            {{!-- <p>
            <a class="boxed-link hilite" href="https://www.google.com/maps/place/1125+Pico+Blvd,+Santa+Monica,+CA+90405/@34.014713,-118.4811417,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2bb2ec85d65ff:0x96b7a6ccd5c2044d!8m2!3d34.014713!4d-118.478953" target="blank" title="View Map">Map this Location</a>
            </p> --}}
        </div>
        <div class="rightcol">
            <ul class="facts">
                <li><ul><li>Bedrooms</li><li>2</li></ul></li>
                <li><ul><li>Bathrooms</li><li>1.5</li></ul></li>
                <li><ul><li>Garage</li><li>Yes</li></ul></li>
                <li><ul><li>Home Sq. Foot</li><li>837</li></ul></li>
                <li><ul><li>Parking</li><li>2 covered</li></ul></li>
                <li><ul><li>Storage Unit</li><li>Yes</li></ul></li>
                <li><ul><li><a href="https://www.walkscore.com/score/loc/lat=34.014712/lng=-118.478952/?utm_source=zillow2.com&utm_medium=ws_api&utm_campaign=ws_api&street=1125+Pico+Blvd+APT+203+Santa+Monica+CA+90405" target="_blank">Walkscore</a></li><li>84</li></ul></li>
                <li><ul><li>Building Amenities</li><li>Intercom, Gated Entry, Courtyard,
24-Hour Maintenance Staff</li></ul></li>
                <li><ul><li>Appliances Included</li><li>Microwave, Range/Oven, 
Dishwasher, Refrigerator, Garbage Disposal</li></ul></li>
                <li><ul><li>List Price</li><li>$685,000</li></ul></li>
                <li><ul><li>Online Listings</li><li><a href="https://www.zillow.com/homedetails/1125-Pico-Blvd-APT-203-Santa-Monica-CA-90405/51582412_zpid/" target="_blank">View on Zillow</a><br><a href="https://www.trulia.com/p/ca/santa-monica/1125-pico-blvd-203-santa-monica-ca-90405--2077760848" target="_blank">View on Trulia</a><br><a href="https://www.redfin.com/CA/Santa-Monica/1125-Pico-Blvd-90405/unit-203/home/8102001" target="_blank">View on Redfin</a></li></ul></li>
            </ul>
        </div>
    </div>
    
</div>