<div class="body-content-wrapper content-section-wrapper" id="gallery">
    <div class="inner clearfix content-group">
        <ul class="gallery-component">
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/new/outside.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/new/livingroom.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/06-masterbed.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/02-livingroom.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/05-kitchen.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/07-hall.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/09-bedroom.jpg" alt="Living Room" /></li>
            <li class="animate-on-scroll"><img src="http://www.sarahlamont.com/pico/img/pico/02-22-18/10-balcony.jpg" alt="Living Room" /></li>
        </ul>
    </div>
    
</div>