<div class="body-content-wrapper content-section-wrapper light-grey" id="ownerNotes">
    <div class="inner clearfix content-group">
        <h2 class="eyebrow-style">Notes from the Owner</h2>
        <h3 class="sectionhead-style">What we loved about living here</h3>
            <p>
            <b>Location</b> &mdash; This home is in the perfect location! Walk or bike to the beach in minutes, or hop on the Big Blue Bus for a quick way down to Main St. Hundreds of restaurants, stores, amenities within a 2 minute walk to a 10 minute drive. Walk to SAMO college to swim in an olympic sized pool. Want to get to Culver city or downtown? You’re only 5 blocks from the 17th street expo line station. You are also right by 11th street, which is the best way through Santa Monica!
            </p>
            <img class="animate-on-scroll inline-image" src="img/greyblock.jpg" alt="Image of Upside down bank" />
            <p>
            <b>Tranquility</b> &mdash; Even with the bustle of Santa Monica, since this home is on the 12th street side of the building, it’s quiet. When inside, you hear very little noise. It’s also on the top floor, with only one shared wall, so there is no neighboring unit noise. (Plus the neighbors are all super nice!)
            </p><p>
            <b>Style and Space</b> &mdash; The size was perfect. Two good sized bedrooms (we used one as office space). We LOVED the closets - so functional. The main space is great for entertaining because you can easily fit a dining table and have it flow into the living room area. We loved the breakfast bar for casual meals. The balcony was a great size as well, and since it’s facing 12th it has a private feel and nice treed view. It was great to sit out there and enjoy our morning coffee or grill dinner. 
            </p><p>
            <b>Low Maintenance</b> &mdash; The HOA has a talented licensed and bonded maintenance man on staff who responds quickly, and the HOA leaders are amazing at keeping the building up, while keeping the fee low. We also actually loved that the washer/dryer is owned by the HOA - one less appliance to maintain gave us one less thing to worry about. You also get 2 garage parking spots with a huge storage unit, and there was always plenty of guest parking on 12th street.
            </p><p>
            Honestly, we can’t say enough about this home. If we weren’t settling on the East coast there is no way we would be giving it up. We hope that you have as much happiness here as we did!
            </p><p>
            -Ryan &amp; Sarah M, Current Owners

        </p>
       
    </div>
    
</div>