<div class="body-content-wrapper content-section-wrapper light-grey" id="ownerNotes">
    <div class="inner clearfix content-group">
        <h2 class="eyebrow-style">Notes from the Owner</h2>
        <h3 class="sectionhead-style">What we loved about living here</h3>
            <p>
            <b>Location</b> &mdash; This home is in a great location. Walk or bike to the beach in minutes, or grab the Big Blue Bus down Pico to Main St. Hundreds of restaurants, stores, amenities within a 2 minute walk to a 10 minute drive. Close to SAMO college and their olympic-sized pool. It’s also only 5 blocks to the 17th Street expo line station, and as a bonus, it’s right off 11th Street, which is the best way to get across Santa Monica. <a class="animate-underline inline" href="https://www.google.com/maps/place/1125+Pico+Blvd,+Santa+Monica,+CA+90405/@34.014713,-118.4811417,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2bb2ec85d65ff:0x96b7a6ccd5c2044d!8m2!3d34.014713!4d-118.478953" target="blank" title="View Map">Click here to view a map of the location.</a>
            </p>
            <p>
            <b>Tranquility</b> &mdash; Even with the bustle of the area, since this home is on the 12th Street side of the building, it’s quiet. When inside, you hear very little noise. It’s also on the top floor, with only one shared wall, so there is no neighboring unit noise. (Plus the neighbors are all super nice!) 
            </p><p>
            <b>Style and Space</b> &mdash; The size was perfect. Two good sized bedrooms (we used one as office space). We loved the closets &mdash; so functional. The main space is great for entertaining because you can easily fit a dining table and have it flow into the living room area. We loved the breakfast bar for casual meals. The balcony was a great size as well, and since it’s facing 12th it has a private feel and nice treed view. It was great to sit out there and enjoy our morning coffee or grill dinner. 
            </p><p>
            <b>Low Maintenance</b> &mdash; The HOA has a licensed maintenance man on staff who responds quickly, and the HOA leaders are great at keeping the building up while keeping the fee low. We also liked that the washer/dryer is owned by the HOA - one less appliance to maintain gave us one less thing to worry about. There are also 2 garage parking spots with a huge storage unit, and always plenty of guest parking on 12th Street.
            </p><p>
            Thank you for your interest and enjoy your new home!
            </p>
            <img class="thumbnail-img" src="http://www.sarahlamont.com/pico/img/pico/sr.jpg" alt="Sarah and Ryan">
            <p>&mdash; Ryan &amp; Sarah M, Current Owners</p>
       
    </div>
    
</div>