<div id="thinkingSection" class="body-content-wrapper module-padding morethinking-section">
	<div class="inner">
        <h2 class="eyebrow-style">Read More</h2>
        <h3 class="sectionhead-style">Innovative Thinking</h3>

        <ul class="article-list">
            <li>
                <a href="http://www.sapientrazorfish.com/idc/" target="_blank" class="track-link"><img src="img/MoreHeader_GartnerMQ@2x.jpg" alt="Customer Focused" class="top-image"/></a>
                <h4 class="eyebrow-style">A LEADER IN TRANSFORMATION</h4>
                <p class="content">The IDC MarketScape has named SapientRazorfish a Leader for Worldwide Digital Strategy andAgency Services.</p>
                <a href="http://www.sapientrazorfish.com/idc/" target="_blank" class="link track-link">Check it out <span class="icon-arrow-right share-icon"></span></a>
            </li>
            <li>
                <a href="http://www.sapientrazorfish.com/financialservices/dpi/" target="_blank" class="track-link"><img src="img/innovation-imperative-tn.png" alt="Customer Focused" class="top-image"/></a>
                <h4 class="eyebrow-style">THE INNOVATION IMPERATIVE</h4>
                <p class="content">How can Financial Services Institutions rethink innovation for the age of the consumer while achieving the business outcomesthey need?</p>
                <a href="http://www.sapientrazorfish.com/financialservices/dpi/" target="_blank" class="link track-link">Learn More <span class="icon-arrow-right share-icon"></span></a>
            </li>
            <li>
                <a href="http://players.brightcove.net/2165782485001/HJBF36ML_default/index.html?videoId=5186146174001" target="_blank" class="track-link"><img src="img/MoreHeader_MobilePay@2x.jpg" alt="Mobile Pay" class="top-image"/></a>
                <h4 class="eyebrow-style">The Mobile Payment Imperative</h4>
                <p class="content">Watch our webinar with Forrester to learn how the payment experience is evolving, and how banks can employ successful mobile payment strategies.</p>
                <a href="http://players.brightcove.net/2165782485001/HJBF36ML_default/index.html?videoId=5186146174001" target="_blank" class="link track-link">Tune In <span class="icon-arrow-right share-icon"></span></a>
            </li>
            <li>
                <a href="http://www.sapientrazorfish.com/idc/" target="_blank" class="track-link"><img src="img/MoreHeader_GartnerMQ@2x.jpg" alt="Customer Focused" class="top-image"/></a>
                <h4 class="eyebrow-style">A LEADER IN TRANSFORMATION</h4>
                <p class="content">The IDC MarketScape has named SapientRazorfish a Leader for Worldwide Digital Strategy andAgency Services.</p>
                <a href="http://www.sapientrazorfish.com/idc/" target="_blank" class="link track-link">Check it out <span class="icon-arrow-right share-icon"></span></a>
            </li>
        </ul>
	</div>
</div>